<h1>1,000 Most Viewed Articles on Wikipedia Yesterday, <%= Date.yesterday.strftime("%B %d, %Y") %> </h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Views</th>
    </tr>
  </thead>

  <tbody>
    <% @api_result.each do |article| %>
      <tr>
        <td><%= link_to article["article"].gsub("_", " "), article_stat_url(article["article"]) %></td>
        <td><%= number_to_human(article["views"]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>