<div class="container">
  <h1>Most Viewed Articles on Wikipedia in the Last Month</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Views</th>
      </tr>
    </thead>

    <tbody>
      <% @results_aggregator_month.each do |key, value| %>
        <tr>
          <td><%= key.gsub("_", " ") %></td>
          <td><%= number_to_human(value) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>